h1{
  text-align: center;
}
#plant-collection::after{
  margin: 2rem;
}
.card{
  text-align: center;
  border: grey solid 1px;
  border-radius: 10px;
  padding: 1rem;
  width: 22rem;
  height: 30rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px green;
 }
 .plant-list{
  justify-self: center;
  height: 12rem;
  width: auto;
}
button {
  position: relative;
  background-color: green;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}
button:hover {
  background-color: whitesmoke;
  border: green solid 2.5px;
  color: green;
}